.site-content{
	width: 100%;
}

#content{
	width: 100%;
}

#left-sidebar{
	width: 33%;
	background-color: transparent;
	float: left;
}

#right-container{
        background-color: transparent;
        float: right;
        width: 62%;
}

#right-container > #top{
	width: 100%;
	background-color: transparent;
	margin-bottom: 5px;
}

.vitrini {
    background: none repeat scroll 0 0 #E6E6E6;
    border: 1px solid #EEEEEE;
    overflow: auto;
    padding: 0 10px;
}

.vitrini #left {
	width: 45%;
	float: left;
	background-color: transparent;
	margin-left: 10px;
}

.vitrini #right {
	width: 45%;
	float: right;
	background-color: transparent;
	margin-left: 10px;
}
